<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<!--Server info-->
		<add key="port" value ="13000"/>
		<add key="ip" value="20.116.24.31"/>
		<!--log file paths-->
		<add key="clientLogFile" value="ClientLog.txt" />
	</appSettings>
</configuration>